.address-results {
	background-color: transparent;
	border: 1px solid transparent;
	max-height: 0;
	overflow: hidden;
	overflow-y: scroll;

	margin-bottom: 8px;

	@include vendor(border-radius, 0 0 4px 4px);
	@include vendor(transition-property, max-height, border);
	@include vendor(transition-duration, .3s, 0s); 
	@include vendor(transition-timing-function, ease-in-out, linear);
	@include vendor(transition-delay, 0s, .3s);

	&.active {
		background-color: #ffffff;
		border: 1px solid darken($silver,10%);
		border-top: 0;
		max-height: $base-spacing-unit*5;
	}

	a {
		display: block;
		padding: 1% 3%;
		@include vendor(transition, 0);
		&:hover {
			background: lighten($ltsilver,10%);
			text-decoration: none;
		}
	}
}