html, body {
	height: 100%;
}

.app {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
	.app__sidebar {
		background: #fff;
		left: 0;
		position: absolute;
		padding: 12px;
		top: 135px;
		width: 28%;
		z-index: 9999;

		@include vendor(border-radius, 10px);

		@include media-query(lap) {
			top: 160px;
			width: 40%;
		}

		@include media-query(palm) {
			top: 160px;
			width: 100%;
		}
	}


		.app__sidebar__content {
			position: relative;
			opacity: 1;
			@include vendor(transition-property, opacity, top);
			@include vendor(transition-duration, .2s, 0);
			@include vendor(transition-delay, 0, .3s);
			@include vendor(transition-timing-function, ease-in-out);
		}

	.app__main {
		
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;


		.fetching {
			background-image: url(../img/loading.gif);
			background-position: center center;
			background-repeat: no-repeat;
			height: 100%;
			position: absolute;
			width: 100%;

			&.fail {
				background-image: none;
			}

			.fetching__message {
				color: $silver;
				height: 100%;
				font-style: italic;
				position: absolute;
				text-align: center;
				top: 55%;
				width: 100%;
			}
		}
		
	}

	.terms {
		position: fixed;
		bottom: 40px;
		right: 0;
		z-index: 9999;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		background: rgba(255,255,255,0.5);
		padding: 4px;

		@include media-query(desk) {
			bottom: 0;
		}
	}