.features {
    margin: 0;
}

.feature {
    > ul {
        margin: 0;
    }
}

.features--table__title {

	margin-bottom: $half-spacing-unit*0.75;
	font-weight: bold;
	@include font-size(14px);
}
table.features--table {
    margin: 0 auto $base-spacing-unit;

    td {
    	padding: .25em .5em;
    }
    + table {
        margin-top: 1em;
    }
    .feature__header {
        background: lighten($ltsilver, 10%);
        text-align: right;
    }
}

.feature__images__wrapper {
	background: white;
	position: absolute;
	bottom: $base-spacing-unit*-5;
	height: $base-spacing-unit*5;
	width: 100%;
	overflow: hidden;

	z-index: 9999;
	@include vendor(transition, .2s);

	&.active {
		bottom: 0;
		@include vendor(box-shadow, 0px $half-spacing-unit*-0.5 $half-spacing-unit/2 $ltsilver);
	}
}

.feature__images__close {
	display: block;
	position: absolute;
	top: 0;
	right: $half-spacing-unit;
}
.feature__images__scroller {
	overflow-x: auto;
	overflow-y: hidden;
	height: 100px;
}
.feature__images {
	display: inline-block;
	width: 1584px;
}
.feature__image {
	display: inline-block;
	margin-right: 3px;
	width: 132px;
	a {
		display: block;
		width: 100%;
	}
}

